
/* mainを中央寄せする */
main {
    flex: 1;
    padding: 1rem 2rem 2rem;
}

.main-card {
    max-width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 3rem 2.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.title {
    text-align: center;
    color: #7cb342;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.profile-item {
    background-color: #e8f5e9;
    border-radius: 15px;
    min-height: 110px;
    padding: 1.5rem;
    margin: 0 2rem;
}

/* 変更リンク */
.profile-item a {
  color: #7EAE0B;
  text-decoration: none;
  font-weight: bold;
}

.profile-item a:hover {
  text-decoration: underline;
}


.btn-write, .btn-list, .btn-reply {
  display: block;
  background-color: white;
  color: #7EAE0B;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  transition: 0.3s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  padding: 1.5rem;
  margin: 0 2rem;
  text-align: center;
}

.btn-write:hover,
.btn-list:hover,
.btn-reply:hover {
  background-color: white;
  color: #7EAE0B;
  border: 2px solid #7EAE0B;
}