<main>
    <h2>プロフィール</h2>
    
    <div class ="profile-item">
        <span class="label">名前</span>
        <span class="value">########</span>
        <a href="#" class="btn-edit">変更</a><br>

        <span class="label">メールアドレス</span>
        <span class="value">########</span>
        <a href="#" class="btn-edit">変更</a><br>

        <span class="label">パスワード</span>
        <span class="value">########</span>
        <a href="#" class="btn-edit">変更</a>
    </div>

    <a href="#" class="btn-list">私の投稿</a><br>
    <a href="#" class="btn-reply">返信</a><br>
    <a href="#" class="btn-write">手紙作成</a>
    
    
  </main>