<main>
  <!-- <div class="content">
    未来ポストホームページ<br />
    <a routerLink="/register">会員登録</a> <br />
    <a routerLink="/login">ロックイン</a>
  </div> -->
  <section class="prompt">
    <h2>〇〇さん、今日はどんなお手紙を書きますか？</h2>

    <div class="letter-list">
      <div class="letter-item">
        <img src="" alt="未来の自分へ">
        <p>未来の自分へ向けて</p>
      </div>
      <div class="letter-item">
        <img src="友達と.jpg" alt="大切な友達へ">
        <p>大切な友達へむけて</p>
      </div>
      <div class="letter-item">
        <img src="letter3.jpg" alt="大切な家族へ">
        <p>大切な家族へ向けて</p>
      </div>
      <div class="letter-item">
        <img src="letter4.jpg" alt="手紙一覧">
        <p>手紙一覧</p>
      </div>
    </div>

    <div class="buttons">
      <button class="btn">送信待ち</button>
      <button class="btn">受信箱</button>
      <button class="btn">下書き</button>
    </div>

     <div class="add-btn">＋</div>
  </section>

  <!-- Timeline section -->
  <section class="timeline">
    <h3>手紙タイムライン</h3>
    <div class="timeline-box">
      <div class="timeline-card">
        <p>〇月〇日</p>
        <p>未来の自分へ</p>
        <div class="icon">✉️</div>
      </div>
      <div class="timeline-card">
        <p>〇月〇日</p>
        <p>未来の自分へ</p>
        <div class="icon">✉️</div>
      </div>
      <div class="timeline-card">
        <p>〇月〇日</p>
        <p>未来の自分へ</p>
        <div class="icon">✉️</div>
      </div>
    </div>
  </section>
</main>