

    <main>
        <div class="main-card">
            <h1 class="title">About us</h1>
            
            <div class="section">
                <button class="section-button">チーム紹介</button>
                <div class="section-content"></div>
            </div>

            <div class="section">
                <button class="section-button">目的</button>
                <div class="section-content"></div>
            </div>

            <div class="section">
                <button class="section-button">使用技術紹介</button>
                <div class="section-content"></div>
            </div>
        </div>
    </main>

   